.counter {
  text-align: center;
  margin: 75px;
  background-color: rgb(113, 108, 134);
  padding: 30px;
  min-width: 400px;
  border-radius: 1em;

  > span {
    font-size: 50pt;
    color: #FF8811;
  }

  .positive {
    color: lightgreen;
  }

  .negative {
    color: rgb(253, 88, 88);
  }
}