
button {
  font-size: 25pt;
  text-decoration: none;
  width: 100%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 5px;
}

.up {
  background: rgba(0, 128, 0, 0.671);
}

.down {
  background: rgba(255, 0, 0, 0.671);
}